// header
$header-height: 54px;
// breadcrumb
$breadcrumb-height: 40px;
// sidebar
$sidebar-width-open: 200px;
$sidebar-width-close: 60px;
$sidebar-menu-item-height: 40px;
$sidebar-menu-item-padding-left: 18px;
