@mixin icon-position () {
  &.login-user {
    width: 18px;
    height: 18px;
    background-position: -304px -80px;
  }
  &.tip-error {
    width: 26px;
    height: 26px;
    background-position: -46px 0px;
  }
  &.login-user-man {
    width: 25px;
    height: 25px;
    background-image: url('../assets/image/user-icon-man.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
i.ui-icon {
  background-image: url('../assets/image/ui-icon.svg');
  display: inline-block;
  @include icon-position();
}
